---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import PostRow from "../components/Blog/PostRow.astro";
import Card from "../components/Card/index.astro";
import ProjectCard from "../components/ProjectCard.astro";

const web3Projects = [
  {
    title: "DoodleFish(Offline)",
    description:
      "Telegram Mini App game on TON blockchain with crypto rewards and NFT trading. Implemented game logic and wallet integration.",
    image: "https://i.imgur.com/yJRNUNf.png",
    link: "#",
    tags: ["Telegram Mini App", "TON", "Web3 Gaming", "NFT"],
    category: "Web3",
  },
  {
    title: "SenderOS AI(Offline) - Sender Wallet Project",
    description:
      "AI-powered blockchain automation platform on Near blockchain using LangChain for transaction processing.",
    image:
      "https://img.freepik.com/premium-vector/default-image-icon-vector-missing-picture-page-website-design-mobile-app-no-photo-available_87543-11093.jpg",
    link: "#",
    tags: ["Next.js", "Near", "OpenAI", "LangChain"],
    category: "Web3",
  },
  {
    title: "7007 Marketplace(Offline)",
    description:
      "Web3 marketplace for AI model trading with smart contract integration for secure transactions.",
    image: "https://i.imgur.com/rIWqBfP.png",
    link: "https://7007-marketplace-web-7007-studio.vercel.app/",
    tags: ["Next.js", "IPFS", "AI Models", "ERC7007"],
    category: "Web3",
  },
  {
    title: "SUI Marketplace(Offline)",
    description:
      "Contributed to the development of a decentralized marketplace on the Sui blockchain by developing frontend components",
    image: "https://i.imgur.com/L2eqYK9.jpg",
    link: "#",
    tags: ["sui.js", "Web3", "react", "Sui"],
    category: "Web3",
  },
];

const web2Projects = [
  {
    title: "Rhino Shield Event Page",
    description:
      "Interactive product showcase landing page with dynamic features and animations.",
    image: "https://i.imgur.com/A1WvAKO.jpg",
    link: "https://shop.rhinoshield.tw/zine-design/pride-2024/dyoc/",
    tags: ["Next.js", "Interactive Design"],
    category: "Web2",
  },
  {
    title: "Travel Management System",
    description:
      "Full-stack application for streamlined travel planning and management.",
    image: "https://i.imgur.com/Qd1alTf.png",
    link: "#",
    tags: ["React", "Node.js", "MongoDB"],
    category: "Web2",
  },
];
---

<script>
  import { timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../lib/constants";

  const sequence = [loaderAnimation];

  timeline(sequence as TimelineDefinition);
</script>

<Layout
  title="Sam Project"
  description="Software developer with strong focus on the user experience animations and micro interactions"
>
  <main
    class="w-screen h-screen flex flex-col justify-start items-start max-w-3xl mx-auto p-8"
  >
    <a
      href="/"
      class="text-white bg-neutral-900 hover:bg-neutral-800 px-4 py-2 mb-8 border-1 border-solid border-neutral-600 rounded-lg"
      >Back</a
    >
    <h1 class="text-4xl font-bold mb-4 text-neutral-100">Projects</h1>
    <div class="flex flex-col gap-8">
      <div class="flex flex-col gap-4">
        <h2 class="text-xl font-bold text-neutral-100">Web3 Projects</h2>
        <div class="grid gap-4 grid-cols-1 md:grid-cols-2">
          {
            web3Projects.map((project) => (
              <Card colSpan="md:col-span-1">
                <ProjectCard {...project} />
              </Card>
            ))
          }
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <h2 class="text-xl font-bold text-neutral-100">Web2 Projects</h2>
        <div class="grid gap-4 grid-cols-1 md:grid-cols-2">
          {
            web2Projects.map((project) => (
              <Card colSpan="md:col-span-1">
                <ProjectCard {...project} />
              </Card>
            ))
          }
        </div>
      </div>
    </div>
  </main>
</Layout>
