---
import { getCurrentTimeInGermany, formatTimeForGermany } from "../lib/helpers";
import Card from "./Card/index.astro";
---

<script>
  import { onCleanup, onMount } from "solid-js";
  import { formatTimeForGermany } from "../lib/helpers";

  let interval: ReturnType<typeof setInterval>;

  function updateClock() {
    const timeDisplay = document.getElementById("timeDisplay");
    const tzExplanation = document.getElementById("tzExplanation");
    const now = new Date();
    const isDST =
      now.getTimezoneOffset() <
      Math.max(
        new Date(now.getFullYear(), 0, 1).getTimezoneOffset(),
        new Date(now.getFullYear(), 6, 1).getTimezoneOffset()
      );

    if (timeDisplay) {
      const formattedTime = formatTimeForGermany(now);
      // Split time and timezone
      const [time, tz] = formattedTime.split(" ");
      timeDisplay.textContent = `${time} ${tz}`;

      if (tzExplanation) {
        tzExplanation.textContent = isDST
          ? "(Central European Summer Time)"
          : "(Central European Time)";
      }
    }
  }

  onMount(() => {
    interval = setInterval(updateClock, 1000);
  });

  onCleanup(() => {
    clearInterval(interval);
  });
</script>

<Card colSpan="lg:col-span-2" rowSpan="md:row-span-2" title="Time zone">
  <div class="flex items-center justify-center h-[calc(100%-28px)] gap-2">
    <time
      datetime=""
      id="timeDisplay"
      class="text-2xl xl:text-5xl whitespace-nowrap font-serif"
    >
      {formatTimeForGermany(getCurrentTimeInGermany())}
    </time>
    <span id="tzExplanation" class="text-sm text-neutral-600">
      {
        getCurrentTimeInGermany().getTimezoneOffset() <
        Math.max(
          new Date(
            getCurrentTimeInGermany().getFullYear(),
            0,
            1
          ).getTimezoneOffset(),
          new Date(
            getCurrentTimeInGermany().getFullYear(),
            6,
            1
          ).getTimezoneOffset()
        )
          ? "(Central European Summer Time)"
          : "(Central European Time)"
      }
    </span>
  </div>
</Card>
